<div id="nav">
    <ul id="nav-list">
        <li (click)="goToHome()">Home</li>
        @if(active())
        {
            <li>Recipies</li>
            <li (click)="goToSaved()">Saved Recipes</li>
            <li (click)="goToList()">Shopping List</li>
            <li (click)="goToPlan()">Planned</li>
            <li>Profile</li>
        }
      
        
        
        
        <ul id="nav-auth">
            @if(active())
            {
                <button>Make a post</button>
                <button  (click)="onLogout($event)">Logout</button>
            }
            @else
            {
                <button (click)="goToLogin()">Signin/Login</button>
            }
        </ul>
    </ul>
</div>