<app-navbar></app-navbar>
<div id="home-container">
    <app-loading-spinner *ngIf="loading()"></app-loading-spinner>
    <div id="home" *ngIf="!loading()">
        <div id="home-meals">
            <h2>Common Meals:</h2>

            <div id="home-meals-grid">
                <div *ngFor="let meal of meals(); let i = index">
                    @if (meal.publisher == 'admin')
                    {

                        <app-meal-card
                        [mealID]="meal.idMeal"
                        [name]="meal.strMeal"
                        [category]="meal.strCategory"
                        [area]="meal.strArea"
                        [img]="meal.strMealThumb"
                        [publisher]="meal.publisher"
                        >
                            
                        </app-meal-card>
                    }
                    @else
                    {
                        <app-meal-card
                        [mealID]="meal.id"
                        [name]="meal.name"
                        [category]="meal.category"
                        [area]="meal.country"
                        [img]="meal.image"
                        [publisher]="meal.publisher"
                        >
                        </app-meal-card>
                    }
                </div>
            </div>

        </div>
    </div>
    <h2>Meal Categories: </h2>
    <div id="categories">
        <div style="margin-top: 35px" *ngFor="let cat of categories()">
            <div>
                <img [src]="cat.strCategoryThumb"/>
                <br>
                <a>{{cat.strCategory}}</a>
            </div>
        </div>
    </div>
</div>