<app-navbar></app-navbar>
<div id="home-container">
    <div id="home">
        <div id="home-meals">
            <h2>Saved Meals:</h2>

            <div id="home-meals-grid">
                <div *ngFor="let meal of this.savedMeals(); let i = index">
                    <app-meal-card
                    [mealID]="meal.id"
                    [name]="meal.name"
                    [category]="meal.category"
                    [area]="meal.country"
                    [img]="meal.image"
                    [publisher]="meal.publisher"
                    >
                        <button id="btn" (click)="planMeal(meal)">Plan a meal</button>
                        <dialog id="plan-dialog" #planDialog>
                            <form>
                                <div>
                                    <!-- {{date()}} -->
                                    <label for="planDate">Choose a Day: </label>
                                    <input type="date" name="planDate" (change)="date = $event.target.valueAsDate">
                                </div>
                                <div id="plan-time">
                                    <input type="radio" value="breakfast" [(ngModel)]="type" id="break" name="mealType">
                                    <label for="break">Breakfast</label>
                                    
                                    <input type="radio" value="launch" [(ngModel)]="type" id="lunch" name="mealType">
                                    <label for="lunch">Lunch</label>

                                    <input type="radio" value="dinner" [(ngModel)]="type" id="dinner" name="mealType">
                                    <label for="dinner">Dinner</label>
                                </div>
                            </form>
                            <button (click)="complete(currentMeal.id)">Complete</button>
                            <button (click)="closeDialog()">Close</button>
                        </dialog>
                    </app-meal-card>
                </div>
            </div>

        </div>
    </div>
    <!-- <h2>Meal Categories: </h2>
    <div id="categories">
        <div style="margin-top: 35px" *ngFor="let cat of categories()">
            <div>
                <img [src]="cat.strCategoryThumb"/>
                <br>
                <a>{{cat.strCategory}}</a>
            </div>
        </div>
    </div> -->
</div>