<div class="layout-container">
  <h1 class="welcome-title">Welcome to Le Festin</h1>
  <p class="quote">"Anyone can cook, but only the fearless can be great."</p>
  <div class="signup-container">
    <h2>Login to your account</h2>

    <form (ngSubmit)="onLogin()" class="signup-form">

      <label for="username">Username</label>
      <input id="username" type="text" [(ngModel)]="userObject.username" name="username"
        placeholder="Enter your username" required />

      <label for="password">Password</label>
      <input id="password" type="password" [(ngModel)]="userObject.password" name="password"
        placeholder="Enter a strong password" required />

      <button type="submit" class="btn">Login</button>

      <p class="redirect">
        Don't have an account?
        <a routerLink="/signup">Sign Up</a>
      </p>
    </form>
  </div>
</div>