<app-navbar></app-navbar>

<div class="layout-container">
  <h1 class="welcome-title">Welcome to Le Festin</h1>
  <p class="quote">"Anyone can cook, but only the fearless can be great."</p>
  <div class="signup-container">
    <h2>Create an Account</h2>

    <form (ngSubmit)="onSignUp()" class="signup-form">

      <label for="username">Username</label>
      <input id="username" type="text" 
      [(ngModel)]="userObject().username"
      name="username"
      placeholder="Enter your username"
      minlength="8" 
      required 
      #name="ngModel"/>
      @if(name.hasError('minlength'))
      {
        <div>Invalid user name.(at least 8 characters)</div>
      }

      <label for="email">E-mail Account</label>
      <input id="email"
       type="text" 
       [(ngModel)]="userObject().email" 
       name="email" 
       #email="ngModel"
       placeholder="Enter your email"
       pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
       required
       (ngModelChange)="handleEmailChange(email)"/>
       @if(!isEmailValid() && (email.dirty || email.touched))
      {
        <div>Invalid email</div>
      }

      <label for="password">Password</label>
      <input id="password" type="password" 
      [(ngModel)]="userObject().password"
      required
      name="password"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      placeholder="Enter a strong password"
      required
      #pass="ngModel"
      (ngModelChange)="handlePassChange(pass)"/>
      @if(!isPassValid() && (pass.dirty || pass.touched))
      {
        <pre>
          password must contain at:
          least 1 Uppercase letter
          1 Lowercase letter
          special character
          and 1 number.
          (not less that 8 characters)
        </pre>
      }

      <label for="confirm-password">Confirm Password</label>
      <input id="confirm-password" type="password" [(ngModel)]="userObject().confirmPassword" name="confirm-password"
        placeholder="Confirm your Password" required #confirmPass="ngModel"/>
      
      <button type="submit" class="btn" [disabled]="!isPassValid() || 
      !isEmailValid() || name.invalid || pass.value != confirmPass.value">Sign Up</button>

      <p class="redirect">
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </form>
  </div>
</div>